@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
	overflow-x: hidden;
}

body {
	@apply bg-neutral-800 text-neutral-100;
}

input {
	@apply outline-none;
}